*{
    margin: 0px;
    padding: 0px;
}
.nav-list{
    display: flex;
    min-height: 10vh;
    gap: normal;
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    width: 100%;
}
.logoo{
    width: 225px;
    height: 44px;
    padding-top: 20px;
    padding-bottom: 20px;
}
li a {
    color: #1b1b1b;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 39px 15px;
    color: hsl(210, 25%, 27%);
    border-color: hsl(210, 25%, 27%);
    gap: normal;
}
li a:hover{
  color: hsl(37, 78%, 57%);
}
.nav-item1{
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.nav-item2{
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.nav-item3{
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.nav-item4{
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.logo{
    width: 350px;
    height: 44px;
    padding-right: 123px;
}
.nav-item5{
    padding-left: 153px;
    padding-top: 18px;
    padding-bottom: 20px;
}
.btn1{
    width: 182px;
    height: 60px;
    background-color:hsl(37, 78%, 57%);
    color:hsl(0, 0%, 100%);
    border: 0px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
    padding-bottom: 7px;
    cursor: pointer;
} 
#menuToggle {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    display: none;
  }
  
  #menuToggle input {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 1; /* top of the menu */
  }
  
  #menuToggle span{
    width: 30px;
    height: 2px;
    margin-bottom: 10px;
    background: hsl(37, 78%, 57%);
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
    transition: all .5s cubic-bezier(.08,.81,.87,.71);
  }
  
  #span1 {
    transform-origin: 1px -4px;
  }
  
  #span3 {
    transform-origin: bottom right;
  }
  
  #menuToggle input:checked ~ #span1 {
    background-color: hsl(37, 78%, 57%);
    transform: rotate(45deg) translate(8px);
  }
  #menuToggle input:checked ~ #span2 {
    background-color: hsl(37, 78%, 57%);
    transform: rotate(495deg) translate(4px);   
  }
  #menuToggle input:checked ~ #span3 {
    background-color: hsl(37, 78%, 57%);
    transform: rotate(45deg);
    opacity: 0;
  }
  #menuToggle input:checked ~ .nav-item1{
    display: flex;  
  }

@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 1200px) 
 { 

.nav-item2{
    padding-left: 50px;
}
.nav-item3{
    padding-left: 50px;
}
.nav-item4{
    padding-left: 50px;
}
.nav-item5{
    padding-left: 50px;
}
}   
@media screen 
and (max-width: 1200px)
and (min-device-width: 768px)
{
  .logo{
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav-item2{
    padding-left: 25px;
}
.nav-item3{
    padding-left: 25px;
}
.nav-item4{
    padding-left: 25px;
    padding-right: 0px;
}
.nav-item5{
    padding-left  : 50px;
}
}
@media screen and (max-width:768px)
{
    .navlinks{
        display: none;
    }
    #menuToggle{
      overflow: hidden;
      align-items: flex-end;
      width: 100%;
      display: flex;
    }
    #menuToggle input:checked ~ .navlinks ,.nav-list
    {
      display: block;
      
    }

       
}

